:root {
    --sidebar-colour: #60a5fa;
    --border-colour: #172554;
    --content-colour: #e2e8f0;
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--content-colour);
    height: 100vh;
}
body {
    height: 100%;
    font-size: 110%;
}
a, button {
    all: unset;
    cursor: pointer;
}


.container {
    display: grid;

    height: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 7fr;

}

.sidebar {
    grid-row: 1 / -1;

    display: grid;
    grid-template-rows: 50px min-content min-content;
    gap: 50px;

    background-color: var(--sidebar-colour);
    color: white;
}
.sidebar .logo {
    margin-left: 10px;
    margin-top: 15px;

    display: grid;
    align-items: center;
    justify-content: start;
    grid-auto-flow: column;
    cursor: pointer;
    gap: 10px;
}
.sidebar .logo svg {
    height: 40px;
    filter: invert(1);
}
.sidebar .categories a, 
.sidebar .alt-categories a {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}
.sidebar svg {
    height: 30px;
    filter: invert(1);
    align-self: center;
    cursor: pointer;
}
.sidebar p {
    align-self: center;
    cursor: pointer;
}
.sidebar .categories li,
.sidebar .alt-categories li {
    margin-bottom: 15px;
    margin-left: 10px;
    height: min-content;
    
    font-weight: bold;
}

.navbar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    background-color: white;
    box-shadow: 4px 2px 6px grey;
}
.navbar .search {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 10fr;
    gap: 5px;
}
.navbar .search svg {
    width: 40px;
    height: 40px;
    justify-self: end;
    align-self: center;
    cursor: pointer;
}
.navbar .search input[type='text'] {
    width: 90%;
    place-self: center;
    border: none;
    border-radius: 10px;
    height: 26px;
    box-shadow: 2px 2px 3px lightgray;
    padding: 4px;
    justify-self: start;

    background-color: var(--content-colour);
}
.navbar .search input:focus-visible {
    outline: none;
    box-shadow: 2px 2px 3px gray;
}
.navbar .search label {
    display: none;
}
.navbar .user-info {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10px;
    justify-items: end;
}
.navbar .user-info img {
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}
.navbar .user-info svg {
    width: 30px;
    height: 30px;
    padding-right: 5px;
    cursor: pointer;
}
.navbar .user-info p {
    justify-self: start;
    cursor: pointer;
    font-weight: bold;
}
.navbar .greetings {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 20px;
}
.navbar .greetings p::first-line {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.865) 
}
.navbar .greetings img {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    padding-left: 2px;
    padding-bottom: 2px;
}
.navbar .actions {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, calc(100% / 3));
    gap: 10px;

    margin-right: 30px;
}
.navbar .actions button {
    width: 100%;
    height: 30px;
    background-color: var(--sidebar-colour);
    color: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 5px gray;
    min-width: 65px;
}
.navbar .actions button:hover {
    background-color: #78aff1;
}
.navbar .actions button:active {
    box-shadow: 1px 1px 5px gray;
}

.content {
    display: grid;
    grid-template: 1fr 1fr / 4fr 1fr;
    gap: 20px;

    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 15px;
}
.content .main-content {
    grid-row: 1 / -1;

    display: grid;
    grid-template: 30px repeat(3, minmax(150px, 1fr)) / 1fr 1fr;
    gap: 20px;
}
.content .main-content h2 {
    grid-column: 1 / -1;
}
.content .main-content .card {
    border-left: 8px solid var(--border-colour);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 4px 2px 6px black;
    position: relative;

    background-color: white;
}
.content .main-content .card-icons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
}
.content .main-content .card-icons svg {
    height: 30px;
    cursor: pointer; 
}
.content .trending-container,
.content .announcement-container {
    margin-right: 30px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height:90%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 4px 2px 6px black;

    display: grid;
    grid-auto-rows: 75px;
}
